body{
    margin: 0;
    font-family: Arial;
    background-color: grey;
}
/* Designing Navigation Bar */
nav{
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav ul li{
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
/* Designing Header Section */
header{
    background-color: grey;
    text-align: center;
    padding: 40px;
}

header img{
    width: 120px;
    border-radius: 50%;
}
/* Designing Main Content Sections */
section{
    margin: 20px;
    padding: 20px;
    background-color: darkgrey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#contact a {
    color: black;
    text-decoration: none;
}
/* Designing Projects Section */
#projects table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#projects table th, #projects table td{
    border: 2px solid black;
    padding: 10px;
    text-align: left;
}
#projects table td a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
/* Designing Footer */
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}
